name: Docker Image CI

on:
  push:
    tags:
      - "php*" # trigger untuk semua tag yang diawali php

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build Dockerfile (dengan Node) kalau tag mengandung "node"
      - name: Build and push (with Node)
        if: contains(github.ref_name, 'node')
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ferilagi/webserver:${{ github.ref_name }}

      # Build Dockerfile.withoutNodejs kalau tag tidak mengandung "node"
      - name: Build and push (without Node)
        if: "!contains(github.ref_name, 'node')"
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.withoutNodejs
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ferilagi/webserver:${{ github.ref_name }}
